

.footer-back-ground{
background-image: url(https://mrkzgulfup.com/uploads/171556572137621.jpg);
padding-top: 50px;
padding-bottom: 50px;
color: white !important;
width: 100%;
min-height: 50vh;
background-size:  cover;
background-position: center bottom ;
background-repeat: no-repeat;

}
.item-link-in-footer{
    list-style: none;
    cursor: pointer;
    transition: all 0.5s;
}
.item-link-in-footer:hover{
color: #FEA928;
transform: translateX(10px);
}